:root{
    --green-color: #BFD34B;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

/* ---------------Header----------------- */

.header{
    background-color: #2f2e41;
    background-image: url('../img/background3.png');
    background-repeat: no-repeat;
    background-position: right top;
    -webkit-box-shadow: inset 0px -24px 58px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -24px 58px 2px rgba(0,0,0,0.75);
    box-shadow: inset 0px -24px 58px 2px rgba(0,0,0,0.75);
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}


.brand_logo{
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 30px;
}

.header_details{
    display: flex;
}

.wrap_header-det{
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 2fr 1fr;
}

.header_img{
    display: flex;
    align-items: flex-end;
}

.header_details-det{
    align-self: center;
    color: white;
    width: 390px;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.header_details-det h1{
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 0;
}
.header_details-det p{
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 0;
}

.buttons{
    grid-column: 2;
    grid-row: 2;
    display: flex;
}

.header-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 160px;
    height: 40px;
    background-color: var(--green-color);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

.phone img{
    width: 30px;
    height: 30px;
    padding-left: 5px;
}

.phone a{
    margin: 0;
    padding-right: 5px;
    text-decoration: none;
    color: black;
}

.whatsapp img{
    width: 30px;
    height: 30px;
    padding-left: 5px;
}

.whatsapp a{
    margin: 0;
    text-decoration: none;
    color: #000;
}

.wrap-main{
    width: 100%;
    background-color: #fafafa;
    height: 50vh;
}

.main_title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
}

.main_subtitle{
    text-align: center;
    margin-top: 0;
    font-weight: 500;
}

.wrap_products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-content: space-evenly;
}

.product_container{
    background-color: white;
    margin: 0;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(189,187,189,1);
    -moz-box-shadow: 0px 0px 7px 2px rgba(189,187,189,1);
    box-shadow: 0px 0px 7px 2px rgba(189,187,189,1);
}

.product-img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.product_detail{
    position: absolute;
    top: 125px;
    background-color: white;
    width: 100%;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(189,187,189,1);
    -moz-box-shadow: 0px 0px 7px 2px rgba(189,187,189,1);
    box-shadow: 0px 0px 7px 2px rgba(189,187,189,1);
}

.product_detail p{
    margin: 0;
    padding: 2px 10px;
}

.product_detail h3{
    margin: 0;
    padding: 5px 10px;
}

.product_detail-type{
    text-align: left;
    margin: 0;
    font-size: 0.9rem;
    background-color: var(--green-color);
    width: 60%;
    border-bottom-right-radius: 5px;
}

.product_detail-type p{
    margin: 0;
    padding: 0;
}

.product_detail-brands{
    padding-top: 25px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.product_detail-brands svg{
    padding-right: 15px;
}

.product_detail-before{
    font-size: .8rem;
    text-decoration: line-through;
    color: #bbbbbb;
}

.producto_detail-pay{
    display: flex;
    align-items: center;
}

.producto_detail-pay p{
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--green-color);
}

.producto_detail-pay img{
    height: auto;
}