@media screen and (max-width: 1000px){

    .wrap-main{
        height: 200vh;
    }

    .wrap_products{
        grid-template-columns: 1fr;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px;
    }

    .product_container{
        width: 45%;
        display: flex;
        flex-wrap: wrap;
    }

    .product-img{
        width: 100%;
    }

    .br-space{
        display: none;
    }
}

@media screen and (max-width: 768px){

    .wrap-main{
        height: 400vh;
    }

    .product_container{
        width: 80%;
        height: 650px;
    }

    .product_detail{
        position: relative;
        top: -180px;
        z-index: 2;
        text-align: center;
    }

    .product_detail h3{
        font-size: 25px;
    }

    .product_detail p{
        font-size: 20px;
    }

    .producto_detail-pay{
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }

    .producto_detail-pay p{
        font-size: 35px !important;
    }

    .stripe{
        position: relative;
        z-index: 100;
    }
}

@media screen and (max-width: 600px){

    .container{
        width: 90%;
    }

    .wrap-main{
        height: 350vh;
    }

    .header{
        background-image: none !important;
    }

    .header_details{
        flex-wrap: wrap;
        justify-content: center;
    }

    .header_details-det{
        margin-top: 0 ;
        justify-content: center;
    }

    .header_details-det h1{
        font-size: 30px;
        text-align: center;
        margin-top: 0;
    }

    .header_details-det p{
        text-align: center;
        font-size: 24px;
        padding-bottom: 20px;
    }

    .buttons{
        display: block;
    }

    .header-button{
        width: 100%;
        margin-bottom: 15px;
        height: 60px;
    }

    .product_container{
        width: 100%;
        height: 570px;
    }

    .product_detail{
        position: relative;
        top: -100px;
    }

    .footer{
        margin-top: 20px;
    }
}